@import url("https://fonts.googleapis.com/css?family=Orbitron");

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(#22aef9, #61f182);
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  min-height: 100vh;
  border: 2px solid black;
}

button {
  font-family: Orbitron, sans-serif;
  color: ghostwhite;
  background: #455a64;
  border: solid 0.5px black;
}

button:hover {
  background: #5a6f79;
}

.display {
  grid-column: 1/-1;
  background: black;
  opacity: 0.75;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.display .previous-operand {
  color: ghostwhite;
  opacity: 0.75;
  font-size: 1.5rem;
}

.display .current-operand {
  color: white;
  font-size: 2.5rem;
}

#clear {
  grid-column: span 2;
  background: #f44336;
}

#clear:hover {
  background: #ff5e52;
}

#equals {
  grid-row: span 2;
  background: #3f51b5;
}

#equals:hover {
  background: #7a8dec;
}

#zero {
  grid-column: span 2;
}
